head{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

/*cabeçalho*/
header div{
    display: inline-block;    
}

header a{    
    text-decoration: none; 
}


/*primeiro menu*/
.menu1  a{    
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.945);
    padding: 10px 40px;
    margin: 10px 25px 10px 25px;
    border: 1px solid rgba(255, 255, 255, 0.945);
    display: inline-block; 
    color: black;           
}


.menu1 a:hover{
    background-color: rgb(157, 159, 163);   
    
}

.menu1 a:active{
    background-color: rgb(157, 159, 163);
}

/*segundo menu*/
.menu2  li {    
    display: inline;    
    color: rgba(255, 255, 255, 0.945);
    list-style-type: none;
}

.m{
    display: inline-block;
    padding: 5px; 
    font-size: 20px;    
    background-color: rgb(255, 123, 0);   
    margin: -4px;
}
.menu2 a{    
    color: rgba(255, 255, 255, 0.945);
    margin: 10px;
}


.menu2 a:hover{
    color: rgba(255, 255, 255, 0.945);
    text-decoration: underline;
}



.busca i{
    display: inline;
    margin-left: 650px;
}

/*formulario*/

.formulario{
    background-color: rgb(255, 123, 0); 
    padding-top: 59px;    
    padding-bottom: 15px;
    margin: 0px;        
}

.sel-form1 {    
    font-size: 15px;   
    padding: 10px;
    display: inline;
    flex-direction: row-reverse;
    margin-top: 0px; 
    border-color: blanchedalmond;    
    
}

.opçoes option{
    font-size: 15px;
    margin-top: 0px;
    border-color: blanchedalmond;
}

/*sessao 2*/
.s1{
    font-size: 20px; 
    display: flex;       
}

.s1 div{
    display: inline-block;    
}


.planodefundo img{
    display: flex;
    flex-direction: row-reverse;
    z-index: 3;
}

.s1 ul{
    list-style-type: none;
    margin: opx;
}

/*sessao de navegaçao*/
.s1 nav {
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(235, 232, 223);
    position: absolute;  
    margin-top: 70px;
    margin-left: 450px;
    padding: 40px 10px 40px 10px;   
    z-index: 4;       
}
    
.s1 nav  a{
    color: rgb(12, 12, 12);
    text-decoration: none;
    margin:20px ;  
}

.navs1 ul li i {
    margin: 10px  ;
}
.s1 a:hover{    
    background-color: rgba(0, 0, 255, 0.842);
    color: white;    
}

.left1{
    font-size: 20px;
    margin: 50px ;
}

.left1 h2{
    color: rgb(219, 35, 81);    
}

.left1 p{
    color: rgb(219, 35, 81);
}

.left1 a{
     text-decoration: none;
     color: white;
     background-color: rgb(255, 123, 0); 
     display: inline-block;
     border-radius: 8px;
     margin: 70px;
     padding: 10px 20px;
     
}

.left1 a:hover{
    text-decoration: underline;
    background-color: rgb(255, 123, 0); 
}

/*sessao 2*/
.s2{
    background-color: rgb(240, 224, 224);
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.s2 div{
    margin-left: 70px;
    padding: 0px;
    
}

.s2 div li{
    display: inline-block;    ;
    margin-right: 0px;
    padding: 20px 10px;
    background-color: white;        
}
    
.s2 nav li i{
    margin-left: 20px;         
    color: rgb(255, 123, 0);
}

.s2 div img{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    margin-top: -150px;
    padding-top: 30px;
}

.s2  div a{    
    text-decoration: none;    
    padding: 5px 10px;
    color: blue;
    background-color: white;    
}

.s2 a:hover{
    background-color: rgb(255, 123, 0);
}


/*sessao 3*/
.s3 h3{
    color: rgb(255, 123, 0);
    margin-left: 90px;
    font-size: 20px;
}

.s3 h2{
    margin-left: 50px;
    font-size: 35px
}

.menus3  ul li{
      display: inline-block; 
      margin: 30px 60px;   
}

.menus3 ul a{
    color: rgb(255, 123, 0);    
    margin-left: 15px;
    font-size: 30px;
}

.menus3 ul a:hover{
    border-radius: 100px;
    background-color: rgb(224, 199, 199);
}

.menus3  p{
    margin-top: 30px ;
    font-size: 20px;
}

/*sessao 4*/
.s4{
   background-color: rgb(224, 199, 199);      
}

.s4 h2{
    font-size: 35px;
    margin-bottom: 40px;
    margin-left: 40px;  
    padding-top: 30px;  
}

.s4 div { 
    margin-left: 90px;   
    margin-right: 80px;
    display: inline-block;
    padding-left: -30px;
    padding-right: -20px;
    padding-bottom: 70px;    
}
.s4 div img{     
    padding-left:10px;
    padding-bottom: 40px;
    position: absolute;
    margin-top:-190px;
    margin-left: 10px;      
}


.s4 a{
    font-size: 20px;
    margin-left: 30px; 
    text-decoration: none;   
    color:white;
    background-color: rgb(255, 123, 0);
    padding: 5px 15px; 
    border-radius: 15px;
}

.s4 a:hover{
     color: rgb(38, 51, 168);
     text-decoration: underline;
}

/*sessao 5*/
.s5 {
    margin-left: 100px;
    display: flex;
    padding-bottom: 10pxpx;
    
}

.s5 img{
    margin-bottom: -4px;    
}

.s5 p{
    padding-top: 60px;
    font-size: 20px;
    margin: 40px 30px;
    color: rgb(78, 71, 71);
}

.s5 h2{
    color: rgb(255, 123, 0);
    margin-left: 30px;
}

.s5 h3{
    color: rgb(78, 71, 71);
    margin-left: 30px;
}

.s5 a{
    font-size: 20px;
    margin: 200px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 123, 0);
    padding: 5px 50px;
    border-radius: 10px;
}

.s5 a:hover{
    background-color: orangered;
    text-decoration: underline;
}

/*sessao 6*/
.s6 {
    background-color: rgb(255, 123, 0);
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.s6 h2{
    color: white;
    margin: 10px 500px;/*margin do h2*/
    font-size: 35px;
}

.s6 div{
    display: inline-block;
    font-size: 20px;            
}

/*foto e navegaçao esquerda*/
.s6nav{
    margin-left: 400px;
    margin-top: 40px;
}


.s6nav img{
    padding-bottom: -20px;
}

.s6nav p{
    background-color: white;
    padding: 30px 25px 50px;  
    margin-top: -10px;
    margin-bottom: -60px ;
}

.s6nav a{
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 60px 60px;
    margin-bottom: -10px;
    padding: 8px  15px;
    border-radius: 10px;
    background-color: rgb(255, 123, 0);
}

.s6nav a:hover{
    background-color: orangered;
    color: white;
    text-decoration: underline;
}

/*foto e navegaçao direita*/
.s6nav2{
    margin-top: 30px;

} 

.s6nav h2{
    padding-top: -20px;
    margin-bottom: -20px;
    
}

.s6nav2 img{
    margin-bottom: -25px;    
}

.s6nav2 p{
    background-color: white;
    padding-bottom: 52px;
    margin-bottom: -60px;
    padding-left: 15px;        
}

.s6nav2 a{
    margin-bottom: 100px;
    text-decoration: none;
    margin-left: 80px;
    background-color: rgb(255, 123, 0);
    padding: 8px 15px;
    border-radius: 10px;
    color: black;
}

.s6nav2 a:hover{
    text-decoration: underline;
    color: white;
    background-color: orangered;
}

footer{
    background-color: rgb(107, 92, 92);
    margin-top: 0px;
    padding-top: 10px;
}

/*rodapé*/
/*r1*/
.r1 h2{
    color: white;
    padding-top: 30px;
    margin-left: 450px;
    margin-bottom: 20px;
    font-size: 30px;
}

.r1 i{
    padding: 40px;    
}

.r1 input{
    padding: 5px 650px 7px 80px;
    font-size: 20px;    
    margin-left: 60px;
    margin-bottom: 3px;
    border-color: 60px solid rgb(179, 166, 184);
}

.r1 input:active{
    border-color: rgb(255, 123, 0);    
}

.r1 i{
    margin-left: 50;
    position: absolute;
    margin-top: -28px;
    margin-left: 80px;
    color: 4px rgb(131, 122, 134);    
}

.r1 button{
    position: relative;
    padding: 12px 40px 9px;    
    margin-top: -40px;
    border-color:  rgb(141, 129, 129);
    color: rgb(131, 122, 134);
}

.r1 button:hover{
    background-color: rgb(78, 71, 71);
}
    

.r1 button:active{
    background-color: rgb(255, 123, 0);
    color: rgb(38, 51, 168);
}

/*r2*/
.r2{
    background-color: rgb(46, 41, 41);
    display: flexbox;
    padding-bottom: 0px;    
}

.r2 i{
    display: flex;
    flex-direction: row-reverse;
    font-size: 60px;
    color: white;
    margin-top: -100px;
    margin-right: 40px;
    padding:  10px 20px;
}

.r2 h3{
    margin-top: 60px;
    padding:  30px 50px;
    color: white;

}

/*r3*/
.r3{    
    color: white;
    margin-left: 60px;
    margin-top: 0px;
    margin-right: 40px;
    padding-left: 20px;        
}

.primeira {
    margin-bottom: 100px;
}

.primeira li {
    list-style-type: none;    
    color: white;
}

.primeira a{        
    text-decoration: none;
    color: white;
    display: flex;   
    padding-bottom: -100px;  
    margin-top: 10px;      
}

.primeira a:hover{
    text-decoration: underline;
    color: rgb(73, 73, 197);
}


/*segunda lista*/
.segunda {
    margin-top: -246px;
    padding-bottom: -5px;   
}

.segunda li{
    list-style-type: none;
    margin-left: 300px;
    margin-top: 10px;
    
}

.segunda a{
    color: white;
    text-decoration: none;
}

.segunda a:hover{
    text-decoration: underline;
    color: rgb(73, 73, 197);
}


/*terceira list*/
.terceira{
    margin-top: -327px;
    
}

.terceira li{
    margin-left: 650px;
    margin-bottom: 10px;
    list-style-type: none;
}

.terceira a{
    color: white;
    text-decoration: none;
}

.terceira a:hover{
    color: rgb(73, 73, 197);
    text-decoration: underline;
}

/*quarta lista*/

.quarta{
    margin-top: -250px;
    margin-left: 950px;
}

.quarta i{
    font-size: 20px;
    margin-left: 5px;
    color: white;
}

.quarta li{
    list-style-type: none;
}

.quarta i:hover{
    color: rgb(73, 73, 197);
}

.quarta a{
    text-decoration: none;
    color: white;
}

.quarta a:hover{
    text-decoration: underline;
    color: rgb(73, 73, 197);
}

/*r4*/
.r4{
    display: inline-block;
    padding-left: 180px;
    color: white;    
}

.r4 select{
    background-color: rgb(248, 94, 4);
    color: white;
    border-color: rgb(248, 94, 4);
    margin: opx;
}

.r4 form{
    background-color: rgb(107, 92, 92);
}